In [ ]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
#load the data
df = pd.read_csv('synthetic_employee_performance.csv')

In [6]:
df.head()

,EmployeeID,Age,Gender,Department,HoursWorkedPerWeek,SatisfactionScore,PerformanceRating,YearsAtCompany,Promotions,LeftCompany,ProductivityScore
0,1,59,Female,Operations,31,2.93,3,14,1,Yes,51.0
1,2,49,Female,HR,45,4.31,3,0,3,No,74.6
2,3,35,Male,IT,57,4.40,2,26,2,No,83.9
3,4,28,Female,Finance,22,4.40,3,25,2,No,59.4
4,5,41,Male,Finance,52,2.68,4,23,4,Yes,63.2

In [9]:
#display the no of rows and columns

df.shape

(10000, 11)

In [10]:
#display the null vlaue and sum 
df.isnull().sum()

EmployeeID            0
Age                   0
Gender                0
Department            0
HoursWorkedPerWeek    0
SatisfactionScore     0
PerformanceRating     0
YearsAtCompany        0
Promotions            0
LeftCompany           0
ProductivityScore     0
dtype: int64

In [11]:
# display the data types of attribute
print("Data types of each column")
df.dtypes

Data types of each column

EmployeeID              int64
Age                     int64
Gender                 object
Department             object
HoursWorkedPerWeek      int64
SatisfactionScore     float64
PerformanceRating       int64
YearsAtCompany          int64
Promotions              int64
LeftCompany            object
ProductivityScore     float64
dtype: object

In [13]:
x = df[['Age']] #here means we are returning dataframe
x.shape

(10000, 1)

In [17]:
x= df['Gender'] # single brackets mean we are returning series
type(x)

pandas.core.series.Series